:root {
  --clr-primary: #7cd2d7;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #a0a0a0;
  --clr-gray-dark: #909090;
  --main-border-radius: 9px;
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-primary);
  overflow: hidden;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: var(--main-border-radius);
  cursor: pointer;
}

.intro {
  display: flex;
}

/* .container {
  max-width: 100%;
  width: 1480px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
} */

.intro-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

.intro-start {
  padding-top: 25px;
  padding-left: 30px;
}

.logo {
  margin-bottom: 40px;
  padding: 5px;
  background-color: #fff;
}

.intro-title {
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--clr-white);
}


.intro-start::after {
  position: absolute;
  width: 642px;
  height: 602px;
  background-image: url("../images/hero.svg");
  background-size: cover;
  content: "";
  z-index: 1;
}

.intro-form {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 65px;
  padding: 103px 300px 118px 300px;
  border-bottom-left-radius: 38px;
  border-top-left-radius: 38px;
  background-color: var(--clr-white);
  /* z-index: 1; */
}



.user-language {
  width: min-content;
  position: absolute;
  top: 3%;
  right: 5%;
  transform: translate(-3%, -5%);
  padding-right: 15px;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #A1A1A1;
  background: var(--clr-black);
  background-color: transparent;
  background-image: url("../images/Polygon\ 1.svg");
  background-repeat: no-repeat;
  background-size: 17px 12px;
  background-position: right;
  outline: none;
  border: none;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.04em;
}

.btn-container {
  margin-bottom: 35px;
}

.form-btn {
  padding: 14px 21px 13px 49px;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #EAEAEA;
  background-repeat: no-repeat;
  background-position: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-btn:focus {
  box-shadow: 0 0 4px 2px #00000033;
}

.google-btn {
  margin-right: 35px;
  background-image: url("../images/search\ 1.svg");
}

.meta-btn {
  background-image: url("../images/facebook\ 1.svg");
}

.form-strong {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.form-label {
  position: relative;
  display: flex;
  margin-bottom: 37px;
}

.form-label:last-of-type {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.password-btn {
  position: absolute;
  right: 15px;
  width: 25px;
  height: 16px;
  background-image: url("../images/eye.svg");
  background-size: 25px 16px;
}

.form-input {
  display: block;
  min-width: 100%;
  margin-bottom: 5px;
  padding: 15px;
  border: none;
  outline: none;
  border: 1px solid var(--clr-gray);
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.form-input::placeholder{
  color: var(--clr-gray);
}

.form-input:focus {
  border-color: var(--clr-primary);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.submit-btn {
  margin-bottom: 17px;
  padding: 9px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: var(--clr-white);
  background-color: var(--clr-primary);
}

.submit-btn:focus{
  box-shadow: 0 0 4px 2px rgb(8, 148, 148);
}

.form-text {
  font-size: 15px;
  line-height: 22px;
  color: var(--clr-gray);
}

.form-link{
  text-decoration: none;
  color: var(--clr-primary);
}